.card__wrapper {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  align-items: flex-start;
}

.card0,
.card1,
.card2 {
  text-align: center;
  box-shadow: -4px 7px 5px 10px rgba(215, 213, 226, 0.12);
  padding: 30px;
}

.card1 {
  margin-top: 50px;
}
.card2 {
  margin-top: 100px;
}

.web-logo {
  margin-bottom: 20px;
}
p {
  color: var(--grayish-blue);
  margin: 3px 0 20px 0;
}

.bgDots {
  display: block;
  margin-bottom: 20px;
}

button {
  padding: 15px 0;
  width: 200px;
  border: none;
  background: var(--soft-blue);
  color: var(--white);
  font-weight: bold;
  border-radius: 5px;
  /* display: block; */
  outline: none;
  cursor: pointer;
}
button:hover {
  background: var(--white);
  border: 1px solid var(--soft-blue);
  color: var(--soft-blue);
}

@media screen and (max-width: 900px) {
  .card__wrapper {
    flex-direction: column;
    width: 90%;
    justify-content: center;
    align-items: center;
  }

  .card0,
  .card1,
  .card2 {
    margin-bottom: 20px;
  }
}
